@charset "ISO-8859-1";
*{
    margin: 0;
    font-family: Arial,  sans-serif;
}
body{
    background-image: url(Register.png);
    background-size: cover;
}

p{
    font-size: 40px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-left: 45rem ;
    
    
    
}
.form{
    background-color: #ffffff;
    opacity: 0.8;    
    padding: 70px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
}
#text-box{
    height: 40px;
    width: 240px;
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 5px;
    background-color: #7EAECD;
    padding-left: 10px;
    
}
::placeholder{
    color: black;
}
#submit{
    height: 40px;
    width: 80px;
    background-color: #638D56;
    color:black;
    font-weight: 30px;
    border-radius: 7px;
    margin-left: 80px;
    margin-top: 5px;
    cursor: pointer;
}
